#login-form {
  margin-top: 150px;
  margin-left: 130px;
  padding-left: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.19), 0 10px 24px rgba(0, 0, 0, 0.23);
  h1 {
      font-size: 36px !important;
      font-size: 3.6rem !important;
  }
  text-align: center;
  padding-bottom: 20px; 
}

.form-check-label {
  margin-left: 5px;
}